body{
    background-color: lightblue;
}
table{
    width: 100%;
}
th, td{
    border-style:double solid;
    background-color: white;
}

tr:nth-child(even){
    background-color: white;
}

tr:hover{
    background-color: yellow;
}